:root{
    --bg-first-color: #000000;
    --bg-second-color: #141922;
    --bg-third-color: #080b12;
    --bg-nav-color: #282828;
    
    --font-family: 'Roboto', sans-serif;

    --text-first-color: #6e6e6e;
    --text-second-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/****************
container spotify
****************/

body{
    background-color: var(--bg-second-color);
    font-family: var(--font-family);
    height: 100vh;
}

#site_main{
    display: flex;
}

#site_main .barra{
    background-color: var(--bg-first-color);
    color: var(--text-first-color);
    width: 250px;
    height: calc(100vh - 80px);
}

#site_footer{
    background-color: var(--bg-nav-color);
    height: 80px;
    width: 100vw;
}

.item-main{
    height: calc(100vh - 80px);
}

.barra{
    position: relative;
}

/************
css aside bar
************/

/*IMG LOGO*/

.logo{
    width: 75%;
    padding: 1rem;
}

/*css condiviso icone*/
.pad{
    padding: 0 0 0 1rem;
}

a{
    text-decoration: none;
    color: var(--text-first-color);
}

.icon-svg{
    width: 25px;
    vertical-align: middle;
}

.text-icon{
    line-height: 30px;
}

/***************
sezione playlist
***************/

.playlist h4{
    color: var(--text-second-color);
    margin-top: 1.5rem;
}

.icon{
    width: 40px;
    vertical-align: middle;
    color: var(--text-second-color);
}

.playlist span{
    line-height: 30px;
}

.playlist p{
    line-height: 35px;;
}

/*sezione user*/

.user-profile{
    position: absolute;
    bottom: 0;
    margin-left: 0.5rem;
}

.icon-mini{
    width: 25px;
    vertical-align: middle;
    filter: opacity(50%);
}


.download{
    border-bottom: 1px solid var(--text-first-color);
}

.user img{
    width: 22px;
    background-color: var(--text-first-color);
    border-radius: 50%;
    margin: 0.5rem;
    vertical-align: middle;
}

.user span{
    color: var(--text-second-color);
}