:root{
    --bg-first-color: #000000;
    --bg-second-color: #141922;
    --bg-third-color: #080b12;
    --bg-nav-color: #282828;
    
    --font-family: 'Roboto', sans-serif;

    --text-first-color: #6e6e6e;
    --text-second-color: #ffffff;
    --text-third-color: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****************
VALLORI UNIVERSALI
*****************/
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-bet{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pad-l{
    padding-left: 0.5rem;
}

.pad-lr{
    padding: 0 0.7rem;
}

.text-f{
    color: var(--text-first-color);
}

.text-s{
    color: var(--text-second-color);
}

.text-t{
    color: var(--text-third-color);
}

.margin-tb{
    margin: 1rem 0;
}

.overflow-h{
    overflow: scroll;
    overflow-x: hidden;
}

img{
    width: 100%;
}

.circle{
    border-radius: 50%;
}

.align-c{
    text-align: center;
}

/*****
HOVER
*****/

.h-color:hover{
    color: var(--text-second-color);
}

.barra p:hover{
    color: var(--text-second-color);
}

/****************
container spotify
****************/

body{
    background-color: var(--bg-second-color);
    font-family: var(--font-family);
    height: 100vh;
}

#site_main{
    display: flex;
}

#site_main .barra{
    background-color: var(--bg-first-color);
    color: var(--text-first-color);
    width: 250px;
    height: calc(100vh - 80px);
}

#site_footer{
    background-color: var(--bg-nav-color);
    height: 80px;
    width: 100vw;
}

.item-main{
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
}

.barra{
    position: relative;
}

/************
css aside bar
************/

/*IMG LOGO*/

.logo{
    width: 75%;
    padding: 1rem;
}

/*css condiviso icone*/
.pad{
    padding: 0 0 0 1rem;
}

a{
    text-decoration: none;
    color: var(--text-first-color);
}

.icon-svg{
    width: 25px;
    vertical-align: middle;
}

.text-icon{
    line-height: 30px;
}

/***************
sezione playlist
***************/

.playlist h4{
    color: var(--text-second-color);
    margin-top: 1.5rem;
}

.icon{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: var(--text-first-color);
    text-align: center;
}

.icon span{
    font-size: 2rem;
}

.playlist span{
    line-height: 30px;
    vertical-align: middle;
}

.playlist p{
    line-height: 35px;;
}

/*sezione user*/

.user-profile{
    width: 85%;
    
}

.icon-mini{
    width: 25px;
    vertical-align: middle;
    filter: opacity(50%);
}


.download{
    border-bottom: 1px solid var(--text-first-color);
}

.user img{
    width: 22px;
    background-color: var(--text-first-color);
    border-radius: 50%;
    margin: 0.5rem;
    vertical-align: middle;
}

.user span{
    color: var(--text-second-color);
}

/*****************
sezione principale
*****************/

/*BARRA UPGRADE*/
.upgrade{
    background-color: var(--bg-third-color);
    height: 83px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

.btn{
    border: 2px solid var(--text-second-color);
    border-radius: 20px;
    padding: 0.6rem 3rem;
    font-size: 0.8rem;
    color: var(--text-second-color);
}

/*BARRA CATEGORIE CANZONI*/
.categorie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.categorie div{
    margin: 0.5rem 1rem;
}

/*SEZIONE CANZONI*/


.songs{
    color: var(--text-second-color);
    padding: 0 1rem;
}

.cover{
    gap: 2rem;
    display: flex;
}

/*celle flex*/

.cover .flex-cells{
    width: calc(100% / 7);
    flex-wrap: nowrap;
}



/*************
SEZIONE FOOTER
*************/

/*sezione left*/
#site_footer{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.box-left img{
    width: 40px;
}

footer p{
    font-size: 0.8rem;
}

/*sezione mid*/
.box-mid{
    color: var(--text-second-color);
}

.box-mid span{
    font-size: 0.7rem;
}

#site_footer .box-mid{
    justify-content: space-around;
}

.riproduzione{
    height: 2px;
    background-color: var(--text-first-color);
    width: 20vw;
}

.border-play{
    border: 2px solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: relative;
}

.border-play i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-52%);
}

/*sezione right*/
.box-right .riproduzione{
    width: 7vw;
}

@media screen and (min-width: 1200px) {
    
}